<nav class="navTop bg-white"  th:fragment="navTop" th:if="${session.loginMember == null}">
    <div class="navTopMenu container d-flex py-2">
        <a class="text-black mx-3 text-decoration-none" th:href="@{/members/new}">회원가입</a>
        <a class="text-black mx-3 text-decoration-none" th:href="@{/members/login}">로그인</a>
    </div>
</nav>
<nav class="navTop bg-white"  th:fragment="navTop" th:if="${session.loginMember != null}">
    <div class="navTopMenu container d-flex py-2">
        <span><th:blank th:text="${session.loginMember.userName}"></th:blank>님 반갑습니다!</span>
        <a class="text-black mx-3 text-decoration-none" th:href="@{/members/login}">로그아웃</a>
    </div>
</nav>