<div th:fragment="sidebar">
    <nav class="sidebar">
        <ul class="menu_wrap">
            <li><a th:href="@{/}"><i class="bi bi-house"></i>홈</a></li>
            <li><a th:href="@{/complaint}"><i class="bi-chat-left-text"></i>고충처리</a></li>
            <li><a th:href="@{/complaint}"><i class="bi bi-lock"></i>익명게시판</a></li>
            <li><a th:href="@{/complaint}"><i class="bi bi-clipboard-heart"></i>상담신청</a></li>
            <li><a th:href="@{/complaint}"><i class="bi bi-folder2"></i>자료실</a></li>
            <li><a th:href="@{/settings}"><i class="bi bi-person-fill"></i>마이페이지</a></li>
        </ul>
    </nav>
</div>