<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>고충처리</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/complaint.css">
</head>
<section layout:fragment="content">
    <div class="board-list-header">
        <h4>고충처리 게시판</h4>
        <a th:href="@{/complaint/new}" class="btn btn primary">글쓰기</a>
    </div>

    <div class="board-card">
        <table class="table table-hover align-middle">
            <thead>
            <tr class="table-light">
                <th class="text-center" style="width: 70px;">번호</th>
                <th class="text-center" style="width: 100px;">상태</th>
                <th>제목</th>
                <th class="text-center" style="width: 120px;">작성자</th>
                <th class="text-center" style="width: 160px;">등록일</th>
            </tr>
            <tr th:if="${#lists.isEmpty(list)}">
                <td colspan="5" class="text-center text-muted py-4" >등록된 글이 없습니다.</td>
            </tr>
            <tr th:each="complaint, start : ${list}">
                <td class="text-center" th:text="${totalCount - (page - 1) * pageSize - start.index}"></td>
                <td th:text="${complaint.status}"></td>
                <th><a th:href="@{/complaint/{id}(id=${complaint.id})}" th:text="${complaint.subject}"></a></th>
                <td th:text="${complaint.userName}"></td>
                <td th:text="${#temporals.format(complaint.createDate, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</html>